<html>
<head>
<title>Hello! Welcome to the world</title>
<!-- Load Facebook SDK for JavaScript -->
</head>
<!-- Load Facebook SDK for JavaScript -->
<!-- Load Facebook SDK for JavaScript -->
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
FB.init({
xfbml : true,
version : 'v4.0'
});
};

(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<div class="fb-customerchat"
attribution=setup_tool
page_id="100981771289535"
theme_color="#0084ff"
logged_in_greeting="Hello, I'm Amelia. How may I help you?"
logged_out_greeting="Hello, I'm Amelia. How may I help you?">
</div>
<!-- Your customer chat code 
<div class="fb-customerchat"
attribution=setup_tool
page_id="686401201810750">
<!-- theme_color="#0084ff"
logged_in_greeting="Hello, I'm Amelia. How may I help you?"
logged_out_greeting="Hello, I'm Amelia. How may I help you?"> 
</div>
</html>-->

<!-- <div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v4.0'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="100981771289535">
</div> -->